html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.swiper {
  width: 100%;
  height: 400px;
  background: black;
}

@media (min-width: 768px) {
  .swiper {
    height: 550px;
  }
}

.slide-wrapper {
  position: relative;
  height: 100%;
}

.container {
  max-width: 1800px;
  margin-inline: auto;
  padding-inline: 3rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 30;

  padding-inline: 1rem;
  max-width: 60ch;

  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .text-container {
    gap: 1rem;
    left: 5%;
  }
}

.dark {
  color: black;
}

.light {
  color: white;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .header {
    font-size: 2.5rem;
  }
}

.sub-header {
  font-size: 1.125rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .sub-header {
    font-size: 2.5rem;
  }
}

.body {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .body {
    font-size: 1.25rem;
  }
}

.btn {
  background: black;
  margin-top: 2rem;
  color: white;
  font-weight: 600;
  font-size: 1.12rem;
  align-self: self-start;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .btn {
    margin-top: 1.5rem;
  }
}

.image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-brightness-50 {
  filter: brightness(0.5);
}
.img-brightness-75 {
  filter: brightness(0.75);
}

.swiper-btn {
  display: none;
}

.swiper-btn::after {
  color: #f6891f;
}

.swiper-pagination-bullet-active {
  background-color: #f6891f;
}

@media (min-width: 768px) {
  .swiper-btn {
    display: block;
  }
}

@media (min-width: 768px) {
  .md-dark {
    color: black;
  }
}

@media (min-width: 768px) {
  .md-img-brightness-0 {
    filter: brightness(1);
  }
}
